html {
  height: 100%;
}

#screen_container {
  margin: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark-mode #screen_container {
  background-color: #333;
}

#screen {
  flex: 1; /* fill remaining space */
  overflow: hidden;
}

#noVNC_mouse_capture_elem {
  display: none;
}
